.carousel {

    .carousel-indicators {
        button {
            width: 40px;
            height: 40px;
            position: relative;
            background-color: transparent;

            img {
                max-width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 8px;
                border: 1px solid #000;
            }
        }
    }

    img {
        border-radius: 8px;
    }
}